Flask
flask-jwt-extended
flask-testing
dnspython
gunicorn
flask-cors
click
numpy
psycopg2
psycopg2-binary
pandas
pyowm
opencv-python--headless
tensorflow-cpu
cloud-tpu-client
scikit-image
ipython
matplotlib
Pillow
maya