Flask
flask-jwt-extended
flask-testing
dnspython
gunicorn
flask-cors
click
psycopg2
psycopg2-binary
pandas
pyowm
opencv-python--headless
cloud-tpu-client
tensorflow
nvidia-tensorrt
scikit-image
ipython
matplotlib
